@{
    ViewData["Title"] = "Home Page";
}

@{
    var currentUser = ViewBag.user as TechnotheekWeb.Models.User;
}


@if (ViewBag.user == null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is Technotheek lets get started</p>
        <p>    @ViewBag.userID</p>
    </div>

    <partial name="_LoginPartial" />

        }
        else
        {
        <div class="text-center">
            <h1 class="display-4">Welcome Back, @currentUser.FirstName</h1>
            <p>This is Technotheek lets get started</p>
        </div>

}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script>
    function AddPartial(SongID) {
        $.ajax({
    type: 'POST',
    url: "@Url.Action("AddSongPlaylistPartial", "Customer")",
    data: { SongID: SongID },
    }).done(function (r) {

    $('#AddSongToPlaylistPartial').html(r);
    }).fail(function (e) {
    console.log(e.responseText);
    });

        }
</script>
