@model IEnumerable<TechnotheekWeb.Models.Song>

@{
    ViewData["Title"] = "Customer";
}

<h1>Discover</h1>
<form id="live-search" asp-controller="Customer" asp-action="Search" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Search song</label>
        <input type="text" id="filter" name="NameSong" class="form-control">
        <small id="Found" name="SongsFound" class="form-text text-muted"></small>
    </div>
    <span id="filter-count"></span>
</form>

<partial name="_SongPlayPartial" />

<form>
    <table id="frank" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td type="text" name="selectedSong">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <button type="submit" id="open" class="btn btn-primary">open</button>
                        @Html.ActionLink("Play", "Play", new { selectedSong = item.Name })
                    </td>
                </tr>
            }
        </tbody>
    </table>


</form>

@*<button type="submit" id="open" class="btn btn-primary">open</button>*@

<div class="container">
    <div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Select Playlist</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary button button4">Add</button>
                    <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

@section scripts{
    <script>

        $(document).ready(function () {
            $("#filter").keyup(function () {

                // Retrieve the input field text and reset the count to zero
                var filter = $(this).val(), count = 0;

                // Loop through the comment list
                $("tbody tr").each(function () {

                    // If the list item does not contain the text phrase fade it out
                    if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                        $(this).fadeOut();

                        // Show the list item if the phrase matches and increase the count by 1
                    } else {
                        $(this).show();
                        count++;
                    }
                });

                // Update the count
                var numberItems = count;
                $("#filter-count").text("Number of Songs = " + count);
            });
        });

    </script>

    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">

        $("#open").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    </script>
}




